<% layout('layouts/boilerplate')%>
<div class="container">
<% for( let content of allContent ) { %>
    <div class="card" style="width: 18rem;">
      <% content.images.forEach((img, i) => {  %>
 
        <img src="<%= img.url%>" class="card-img-top" alt="<%= content.title %> ">
    </div>
    <% }) %>
        <div class="card-body">
          <h5 class="card-title"><%= content.title %></h5>
            <p><%= content.images.url %> </p>
          <p class="card-text"> <%= content.description %> .</p>
          <a href="/admin/edit/<%=content._id  %> " class="btn btn-primary">edit</a>
          
        </div>
      </div>

<% } %>
</div>
