<link rel="stylesheet" href="/css/prices.css">
<% layout('layouts/boilerplate')%>


 <% for( let content of allContent ) { %>
 <% if (content.images[0]) { %>
    <div class= "content--container">
   <section class="intro intro--category">
        <h4><%= content.title %>  </h4>
        <p class="section__subtitle section__subtitle--intro"> <%= content.description %></p>
       
        
        <img src=" <%= content.images[0].url %> " alt="" class="intro__img category--img">
           <form class="prices" action="/checkout/<%= content._id %> " method="POST">
               <div  class="price">
  
    <ul class="price-list">
        <p>select your price</p>
                <% for( let price of content.price ) { %>
        
        <li class="prices-list__item">
            <input type="radio" id="<%=  price %>" class="prices-list__radio" value= "<%=  price %>" name="<%=  price %>">
            <label for=" <%=  price %>" class="radio-label" > <span class="radio-border"></span>  $<%=  price %> </label>                        
        </li>
        
        <% } %>
    </ul>
       <button class="btn">Buy Content</button>

  
</section>

		
        
        </form>
        </div>
 <% } %>
   
      
   
 
        <% } %>
        
        

      