<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/prices.css">

 
 <% if (content.images.length > 0 { %>
    <contianer>
   <section class="intro">
        <h3><%= content.title %>  </h3>
        <h1 class="section__title section__title--intro">
            <%= content.description %>  
        </h1>
        <p class="section__subtitle section__subtitle--intro">A short subtitle</p>
       
        
        <img src=" <%= content.images[0].url %> " alt="" class="intro__img">
           <form class="prices" action="/checkout/<%= content._id %> " method="POST">
               <div  class="price">
  
    <ul class="price-list">
        <p>select your price</p>
                <% for( let price of content.price ) { %>
        
        <li class="prices-list__item">
            <input type="radio" id=" <%=  price %>" class="prices-list__radio" >
            <label for=" <%=  price %>" class="radio-label" > <span class="radio-border"></span>  $<%=  price %> </label>                        
        </li>
        
        <% } %>
    </ul>
       <button class="btn">Buy Content</button>
</div>
  
</section>
        </form>

   