<% layout('layouts/boilerplate')%>
<div class="container">
<% for( let content of allContent ) { %>
    <div class="card" style="width: 18rem;">
        <% if( content.images[0]){ %>
            <img src="<%= content.images[0].url%>" class="card-img-top">
          <% } else{ %>  
            <img src="#" class="card-img-top">
         <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= content.title %></h5>
            <p><%= content.images.url %> </p>
          <p class="card-text"> <%= content.description %> .</p>
          <form action="/checkout/<%= content._id %> " method="post">
          <button class="btn btn-success">Upload Content</button>
        </form>

        </div>
      </div>

<% } %>
</div>