<% layout('layouts/boilerplate')%>

        <link rel="stylesheet" href="/public/StyleSheets/home.css">
        <!-- Introduction-->
        <div class="box--intro">
        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Welcome to <strong>Knockout Talent</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">TAG LINE</p>
            <img src="https://res.cloudinary.com/dkzjj8fuw/image/upload/e_improve,w_300,h_600,c_thumb,g_auto/v1633883978/kate-corset_ke0qin.jpg" alt="a picture of Hazel" class="intro__img">
        </section>
    </div>

<!--my services -->
<section class="container text-center my-3 carousel--div ">
    <div class="container text-center my-3">
    <h2 class="font-weight-light">latest content</h2>
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">

           <%  latestImages.forEach((element, index) => { %>
            <% if(index === 0){ %>
                  <div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/31f?text=1" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div>
                </div>

            <% } else { %>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide <%= index %> </div>
                        </div>
                    </div>
                </div>

            <% } %>
        <% }) %>
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
    </div>
   
</div>
</section>

    <!--My Work-->
<section class="my--work all--categories" id="work">
    <h2 class="section__title text-center">Categories</h2>
    
    <div class="portfolio category">
        <% for( let category of categories ) { %>
            <% if (category.content[0].images[0]) { %>
               
                <a href="/content/category/<%= category._id %>  " class="category__item">
                    <img src="<%= category.content[0].images[0].url %> " alt="" class="portfolio__img card-img">
                </a>
            <% } %>
        <% } %>
        

    </div>
</section>

<section class="my--work all--categories" id="work">
    <h2 class="section__title text-center">Models</h2>
    
    <div class="portfolio category">
        <% for( let creator of creators ) { %>
            <% if (creator.avatar) { %>
               
                <a href="/creator//<%= creator._id %>  " class="category__item">
                    <img src="<%= creator.avatar%> " alt="" class="portfolio__img card-img">
                </a>
            <% } %>
        <% } %>
        

    </div>
</section>

<!--footer-->
<footer  class="footer">

<!--footer-->
<footer  class="footer">
    <a href=":mailto:Hazel.j.tate@gmail.com" class="footer__link">Email</a>
    <ul class="social-list">
        <li class="social-list__item"><a class="social-list__link" href=""><i class="fab fa-facebook"></i></a></li>
        <li class="social-list__item"><a class="social-list__link" href=""><i class="fab fa-twitter"></i></a></li>
        <li class="social-list__item"><a class="social-list__link" href=""><i class="fab fa-instagram"></i></a></li>

    </ul>
</footer>

<script src="/javascript/carousel.js"></script>