<% layout('layouts/boilerplate')%>

<h1>Welcome  <% currentUser.username %> </h1>
<img src="<%= creator.avatar %> " alt="a picture of <%= currentUser.username %> ">
<p><%= creator.bio %> </p>

<div>
    <h2> you payouts</h2>
    <p><%= creator.currentValue %> </p>
    <button class="btn"><a href="">cash out</a></button>
    <p> all time earnings</p>
    <p><%= creator.totalRevenue %> </p>
</div>
<div>
    <p>upload new content</p>
    <button class="btn">
        <a href="/admin/newContent"> New Content</a>
    </button>
<button class="btn"> 
  <a href="/users/updateProfile/<%= currentUser.username %> ">update profile</a>
  </button>
  