<% layout('layouts/boilerplate')%>

<h1>Welcome  <% user.username %> </h1>
<img src="<%= creator.avatar %> " alt="a picture of <%= user.username %> ">
<p><%= creator.bio %> </p>
<button class="btn">update profile</button>
<div>
    <h2> you payouts</h2>
    <p><%= creator.currentValue %> </p>
    <button class="btn"><a href="">cash out</a></button>
    <p> all time earnings</p>
    <p><%= creator.totalRevenue %> </p>
</div>
<div>
    <p>upload new content</p>
    <button class="btn">
        <a href="/admin/newContent"> New Content</a>
    </button>

  